/* regole generali */
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

ul a{
    color: white;
}

ul li{
    display: inline-block;
}

.margin-right li{
    margin-right: 5px;
}

.margin-left li{
    margin-left: 5px;
}
/* HEADER  */
header{
    height: 60px;
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

header .container{
    /* position: fixed; */
    
}

.top .row .col-left ul{
    padding-left: 0;
}

.top .row .col-center .logo img{
    height: 40px;
}
/* MAIN  */

main .container .row{
    margin-bottom: 30px;
}
main .container .row .col{
    width: calc(100% / 3 - 20px);
    background-color: aquamarine;
    height: 300px;
}

main .container .row .col .info{
    background-color: brown;
    height: 30px;
}

/* FOOTER  */

footer{
    height: 80px;
    background-color: black;
}


