/* regole generali */
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

ul a{
    color: white;
}

ul li{
    display: inline-block;
}

.margin-right{
    padding-left: 0;
}

.margin-right li{
    margin-right: 5px;
}

.margin-left li{
    margin-left: 5px;
}

.price span::after{
    content: '\20AC';
}
/* HEADER  */
header{
    height: 60px;
    background-color: orange;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    z-index: 2;
}

.top .row .col-center .logo img{
    height: 40px;
}
/* MAIN  */
main .container{
    padding-top: 80px;
}

main .container .row{
    margin-bottom: 30px;
}
main .container .row .col{
    width: calc(100% / 3 - 20px);
    height: 500px;
}

main .container .row .col .card{
    width: 100%;
    height: 90%;
    background-size: contain;
    background-position: center;
    position: relative;
}
/* INFO  */
main .container .row .col .info{
    height: 10%;
}

main .container .row .col .info .brand{
    color: gray;
}

.brand,.price,.about > span{
    font-size: 14px;
}

.discount{
    color: red;
}

.original{
    text-decoration: line-through;
}
/* AGGIUNTE SOPRA IMMAGINE  */
.about{
    position: absolute;
    bottom: 50px;
}
.about > span{
    color: white;
    padding: 5px;
}
.about .percentage::after{
    content: '\0025';
}

.about .sost::after{
    content: '\00E0'
}

.about .percentage{
    background-color: red;
}

.about .sost{
    background-color: green;
}

.heart{
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    right: 0;
    top: 10px;
}

.heart:hover{
    color: red;
}
/* IMMAGINI  */
#Image1{
    background-image: url('../img/1.webp');
}

#Image2{
    background-image: url('../img/2.webp');
    background-size: 95%;
    background-position: 80% 0%;
}

#Image3{
    background-image: url('../img/3.webp');
    background-size: 100%;
}

#Image4{
    background-image: url('../img/4.webp');
}

#Image5{
    background-image: url('../img/5.webp');
}

#Image6{
    background-image: url('../img/6.webp');
}
/* IMMAGINI HOVER  */

#Image1:hover{
    background-image: url('../img/1b.webp');
}

#Image2:hover{
    background-image: url('../img/2b.webp');
}

#Image3:hover{
    background-image: url('../img/3b.webp');
}

#Image4:hover{
    background-image: url('../img/4b.webp');
}

#Image5:hover{
    background-image: url('../img/5b.webp');
}

#Image6:hover{
    background-image: url('../img/6b.webp');
}

/* FOOTER  */

footer{
    height: 80px;
    background-color: black;
    color: white;
    padding-top: 20px;
}

footer .bottom a{
    font-size: 14px;
}

.bottom .col-right{
    text-align: right;
}


